html {
  background-color: black;
  text-align: center;
  font-family: helvetica;
}

h1, h2 {
  font-weight: bold;
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

p {
  color: gray;
}

a {
  color: seagreen;
}
